

.card {
 
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.2s ease-in-out;
   
}

.card:hover {
    transform: scale(1.1)
}


@media screen and (max-width: 768px) {
    .card{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        

    }
    .card:hover {
        transform: none;
    }
    
  
 .font{
        font-size: 20px;
    }
    
}